<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="car_sim">
  <link
    name="BODY">
    <inertial>
      <origin
        xyz="-0.00259004720498476 0.00067655820357232 -0.0538140096287424"
        rpy="0 0 0" />
      <mass
        value="2.27568516297066" />
      <inertia
        ixx="0.0059562120597256"
        ixy="1.31889223961593E-06"
        ixz="2.51283201679577E-06"
        iyy="0.00735196152742861"
        iyz="-4.0563085068629E-08"
        izz="0.0127389179090798" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_sim/meshes/BODY.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_sim/meshes/BODY.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="F_B_R_Link">
    <inertial>
      <origin
        xyz="4.15811247411746E-06 -0.0387764090043724 2.34397195175429E-05"
        rpy="0 0 0" />
      <mass
        value="0.524145303230556" />
      <inertia
        ixx="0.000688541696255465"
        ixy="4.27349479622642E-10"
        ixz="1.07231824136283E-08"
        iyy="0.00122439446608104"
        iyz="8.19227070804737E-08"
        izz="0.000688691120821302" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_sim/meshes/F_B_R_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_sim/meshes/F_B_R_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="F_B_R"
    type="continuous">
    <origin
      xyz="-0.16764 -0.16973 -0.075972"
      rpy="0 0 3.1416" />
    <parent
      link="BODY" />
    <child
      link="F_B_R_Link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="F_B_L_Link">
    <inertial>
      <origin
        xyz="-4.15299885625497E-06 -0.0387766610714727 2.34389243685268E-05"
        rpy="0 0 0" />
      <mass
        value="0.524142277597696" />
      <inertia
        ixx="0.00068853758424145"
        ixy="-3.92881396763585E-10"
        ixz="-1.06939732529201E-08"
        iyy="0.0012243872904858"
        iyz="8.19284767318812E-08"
        izz="0.000688687134517085" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_sim/meshes/F_B_L_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_sim/meshes/F_B_L_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="F_B_L"
    type="continuous">
    <origin
      xyz="-0.16764 0.16974 -0.075972"
      rpy="0 0 0" />
    <parent
      link="BODY" />
    <child
      link="F_B_L_Link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="F_F_L_Link">
    <inertial>
      <origin
        xyz="4.15812041199004E-06 -0.0387764089921866 2.34397188730168E-05"
        rpy="0 0 0" />
      <mass
        value="0.524145303423396" />
      <inertia
        ixx="0.000688541696255438"
        ixy="4.27348346512295E-10"
        ixz="1.07231841854522E-08"
        iyy="0.00122439446607239"
        iyz="8.19227106083357E-08"
        izz="0.000688691120818141" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_sim/meshes/F_F_L_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_sim/meshes/F_F_L_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="F_F_L"
    type="continuous">
    <origin
      xyz="0.15264 0.16974 -0.075972"
      rpy="0 0 0" />
    <parent
      link="BODY" />
    <child
      link="F_F_L_Link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="F_F_R_Link">
    <inertial>
      <origin
        xyz="4.15299265113522E-06 0.0387766610527853 2.34388943382846E-05"
        rpy="0 0 0" />
      <mass
        value="0.524142276253491" />
      <inertia
        ixx="0.000688537583988537"
        ixy="-3.92872414056818E-10"
        ixz="1.06939579529851E-08"
        iyy="0.00122438729047445"
        iyz="-8.19284680795588E-08"
        izz="0.00068868713426558" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_sim/meshes/F_F_R_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_sim/meshes/F_F_R_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="F_F_R"
    type="continuous">
    <origin
      xyz="0.15264 -0.16974 -0.075972"
      rpy="0 0 0" />
    <parent
      link="BODY" />
    <child
      link="F_F_R_Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="mid_Link">
    <inertial>
      <origin
        xyz="-0.000199574115905488 -6.35009226230681E-06 -0.0174674074223493"
        rpy="0 0 0" />
      <mass
        value="1.10672092820322" />
      <inertia
        ixx="0.000326022185952641"
        ixy="-4.30083905768617E-08"
        ixz="2.38151317788481E-06"
        iyy="0.000351603059138939"
        iyz="-3.50267298324671E-09"
        izz="0.000536638419995748" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_sim/meshes/mid_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.615686274509804 0.643137254901961 0.674509803921569 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_sim/meshes/mid_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="mid360"
    type="fixed">
    <origin
      xyz="0.1325 0 0.010499"
      rpy="0 0 3.1416" />
    <parent
      link="BODY" />
    <child
      link="mid_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>